{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block body %}

    <div class="row p-0 m-0">
        <div class="col-12 text-center py-4">
            <h1 class="h2">Rejestracja pomyślna</h1>
            <span class="fs-5">Aby zalogować się aktywuj swoje konto poprzez kliknięcie w link, przesłany na Twój adres e-mail</span>
        </div>
        
        <div class="col-12 py-2 text-center">
            <a href="/"><button type="button" class="btn fw-bold my-3 returnButton">Powrót do strony głównej</button></a>
        </div>
    </div>

{% endblock %}
