* {
    margin: 0;
    padding: 0;
}

body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../img/footer_lodyas.png");
    font-family: 'Lato', sans-serif;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.test {
    border: 3px solid white;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 64px;
    color: #e6e600;
    white-space: nowrap;
    letter-spacing: 1px;
}

h1 > a, h1 > a:hover {
    text-decoration: none;
    color: #e6e600;
}

#currentTime {
    font-size: 20px;
    font-weight: bold;
}

.currentTime_box {
    min-width: 210px;
}

.mainContainer {
    background-color: #222222;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
}

.forFooter {
    min-height: calc(100vh - 60px);
}

.mainNav, .dropdown-menu {
    background-color: #36b03c;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#mainNav_navbar a,
.dropdown-item,
.dropdown > button {
    color: #f2f2f2 !important;
    font-size: 20px; 
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #36b03c;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dropdown-item:hover {
    background-color: #36b03c !important;
}

#mainNav_navbar a:hover,
.dropdown-item:hover,
.dropdown > button:hover,
.dropdown-item > a:hover {
    background-color: #47c14d;
    color: #f2f2f2;
}

.navbar-toggler {
    color: #f2f2f2 !important;
}

.dropdown > button:focus,
.navbar-toggler:focus {
    box-shadow: none;
}

.mainFooter {
    font-size: 20px;
    height: 40px;
}

.fa-linkedin {
    color: white !important;
}

img {
    border-radius: 30% 15%;
    max-width: 80%;
    height: auto;
}

/*p {
    letter-spacing: 1px;
}*/

/*p.mainMenu {
    text-align: justify;
}*/

.smallGreenButton {
    background-color: #36b03c;
    color: #f2f2f2;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
}

.smallGreenButton:hover {
    opacity: 0.8;
    color: #f2f2f2;
}

.smallGreenButton:focus {
    box-shadow: none;
}

.smallGreenButton:active {
    transform: translateY(1px);
}

.smallOrangeButton {
    background-color: #ff9900;
    color: #f2f2f2;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
}

.smallOrangeButton:hover {
    opacity: 0.8;
    color: #f2f2f2;
}

.smallOrangeButton:focus {
    box-shadow: none;
}

.smallOrangeButton:active {
    transform: translateY(1px);
}

.smallRedButton {
    background-color: #ff3300;
    color: #f2f2f2;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
}

.smallRedButton:hover {
    opacity: 0.8;
    color: #f2f2f2;
}

.smallRedButton:active {
    box-shadow: none;
}

.smallRedButton:active {
    transform: translateY(1px);
}

.errors, div > ul > li {
    font-size: 18px;
    color: #ff3300;
}

@media (max-width: 768px) {
    h1 {
        white-space: normal;
    }

    #mainHeader {
        flex-direction: column;
    }

    #comment,
    #expenseCategory,
    #incomeCategory {
        width: 75% !important;
    }
}

@media (max-width: 992px) {
    #mainNav_navbar a {
        text-align: center;
    }

    .forFooter {
        min-height: calc(100vh - 100px);
    }

    .mainFooter {
        height: 100px;
    }
}

.contact {
    cursor: pointer;
}
  
.chat-popup {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    z-index: 9;
}
  
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
}

.form-container textarea {
    width: 100%;
    border: none;
    background: #f2f2f2;
    resize: none;
    min-height: 200px;
}
  
.form-container textarea:focus {
    background-color: #f2f2f2;
    outline: none;
}
  
.form-container .btn {
    width: 100%;
}

.table {
    background-color: #333333;
    color: white;
    border-radius: 10px;
}

th, td {
    border: none;
}

tbody tr:hover {
    background-color: #444444;
    color: white !important;
}