.collapseBtn[aria-expanded="true"],
.collapseBtn[aria-expanded="false"] {
    background-color:#36b03c;
    color:#f2f2f2;
    border: none;
}

.collapseBtn[aria-expanded="true"]:hover,
.collapseBtn[aria-expanded="false"]:hover {
    background-color:#47c14d;
}

.collapseBtn[aria-expanded="true"]:focus,
.collapseBtn[aria-expanded="false"]:focus {
    outline: none;
    box-shadow: none;
}

.accordion-collapse {
    background-color: #333333;
}

.accordion-item {
    border-radius: 5px;
    background-color: #333333;
}

.collapse-body-item:hover {
    background-color: #444444;
}

.add-category-btn {
    background-color: #36b03c;
    color: #f2f2f2;
    letter-spacing: 1px;
    height: 40px;
}

.clear-base-btn {
    background-color: #ff9900;
    color: #f2f2f2;
    letter-spacing: 1px;
    height: 40px;
}

.delete-account-btn {
    background-color: #ff3300;
    color: #f2f2f2;
    letter-spacing: 1px;
    height: 40px;
}

.add-category-btn:hover,
.clear-base-btn:hover,
.delete-account-btn:hover {
    opacity: 0.8;
    color: #f2f2f2;
}

.add-category-btn:focus,
.clear-base-btn:focus,
.delete-account-btn:focus {
    box-shadow: none;
}

.add-category-btn:active,
.clear-base-btn:active,
.delete-account-btn:active {
    transform: translateY(1px);
}

.edit:hover {
    cursor: pointer;
}

.settingButton {
    background-color: #444444 ;
    color: white;
    border-radius: 3px;
}

.modal {
    color: black;
}