{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block body %}

<div class="row p-0 m-0">
    <div class="col-12 text-center py-4">
        <h1 class="h2">Resetowanie hasła</h1>
        <span class="fs-5">Link do zmiany hasła jest niepoprawny lub wygasł. Kliknij <a href="/password/forgot">tutaj</a> aby wysłać kolejny.</span>
    </div>
    
    <div class="col-12 py-2 text-center">
        <a href="/"><button type="button" class="btn fw-bold my-3 returnButton">Powrót do strony głównej</button></a>
    </div>
</div>

{% endblock %}
