{% extends "base.html" %}

{% block title %}Menu główne{% endblock %}

{% block body %}

    <div class="row p-0 m-0">
        <div class="col-12 col-lg-6 m-0 p-5 text-center">
            <img src="/img/cytat.png" alt="Paulo Coelho - cytat">
        </div>
        <div class="col-12 col-lg-6 m-0 p-5 my-auto">
            <p class="fs-5 py-2">No właśnie... Wszystko zaczyna się od marzeń. A do ich spełnienia potrzebne są między innymi... pieniądze!</p>
            <p class="fs-5 py-2">Im więcej ich zaoszczędzisz, tym szybciej spełnisz swoje marzenia!</p>
            <p class="fs-5 py-2">W tym celu powstała aplikacja <strong>Budżet Osobisty</strong>!</p>
            <p class="fs-5 py-2">A zatem nie zwklekaj i zacznij oszczędzać już teraz! W tym celu wybierz jedną z opcji w menu głównym.</p>
        </div>
        <div class="col-12 py-2 text-center">
            
        </div>
    </div>

{% endblock %}
