{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/css/login.css">   
{% endblock %}

{% block body %}

    <div class="row p-0 m-0"> 

        <div class="col-12 text-center py-4">
            <h1 class="h2">Logowanie</h1>
        </div>  

        <form method="POST" action="/login/create" id="formLogin">
            <div class="form-group text-center col-10 col-md-6 col-lg-4 mx-auto">
                <label for="email" class="fs-5">Podaj adres e-mail:</label>
                <input id="email" name="email" type="email" class="form-control mx-auto my-3 userInput" placeholder="adres e-mail" required>
            </div>

            <div class="form-group text-center col-10 col-md-6 col-lg-4 mx-auto mb-4">
                <label for="password" class="fs-5">Podaj hasło:</label>
                <input id="password" name="password" type="password" class="form-control mx-auto my-3 userInput" placeholder="hasło" required>
            </div>

            {% if incorrect_credentials %}
            <div class="form-group text-center col-10 col-md-6 col-lg-4 mx-auto row">
                <p class="fs-5 text-danger">Podano nie poprawny adres e-mail lub hasło!</p>
            </div>
            {% endif %}

            <div class="form-group text-center col-10 col-md-6 col-lg-4 mx-auto">
                <label class="fs-5 p-2 pe-4 boxButton">
                    <input class="mx-3" type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} /> Zapamiętaj mnie
                </label>
            </div>

            <div class="col-12 text-center py-4">
                <button type="submit" class="btn fw-bold mx-2 my-2 smallGreenButton">Zaloguj</button>
                <a href="/"><button type="button" class="btn fw-bold mx-2 my-2 smallRedButton">Powrót</button></a>
            </div>
        </form>

        <div class="text-center col-12 row m-0 p-0">
            <div class="text-center col-10 col-md-6 col-lg-4 p-2 mx-auto">
                <p class="me-3 fs-5">Nie pamiętasz hasła?</p>
                <a href="/password/forgot"><p class="boxButton fs-5 p-2">Kliknij tutaj aby zresetować</p></a>
            </div>
        </div>
        
        <div class="text-center col-12 row m-0 p-0">
            <div class="text-center col-10 col-md-6 col-lg-4 p-2 mx-auto">
                <p class="me-3 fs-5">Nie masz jeszcze konta?</p>
                <a href="/signup/new"><p class="boxButton fs-5 p-2">Zarejestruj się</p></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="/js/plugin.js"></script>
    <script src="/js/validate.js"></script>
{% endblock %}